<div class="header">
  <h1>Sistema de inscripciones<span class="tagline">FIUBA</span></h1>
</div>

<div class="content">
  <p>Bienvenido al sistema de inscripciones de la Facultad de Ingenieria.
    Aqui, usted podra consultar las materias y cursos disponibles, asi como
    tambien se podra inscribir en un curso de una materia. Recuerde que
    solo se podra inscribir en un solo curso por materia.</p>

  <ul>
    <li><a routerLink="/subjects">Ir al listado de cursos</a></li>
    <li><a href="http://www.fi.uba.ar/">Ir al sitio de la facultad</a></li>
  </ul>
</div>
<router-outlet></router-outlet>

<div class="footer">
  <dl>
    <dt>Copyright</dt>
    <dd>&copy; 2016 fi.uba.ar</dd>
    <dt>Authors</dt>
    <dd>German Guzelj and Leandro Masello</dd>
    <dt>Year</dt>
    <dd>2016</dd>
  </dl>
</div>
