<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
   <html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
   xml:lang="en">

   <head>
      <title>Materias - Sistema de inscripciones</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="author" content="German Guzelj, Leandro Masello" />
      <meta name="keywords" content="subjects, academic, programming, it, inscriptions" />
      <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css" />
   </head>

   <body>
     <div class="header">
       <ul class="breadcrumb">
         <li><a href="../landing/index.html">Sistema de inscripciones</a></li>
         <li>Materias</li>
       </ul>
     </div>
     <div class="content">
       <h1>Materias</h1>
       <p>A continuación vas a poder encontrar las materias que estarán
         disponibles el próximo cuatrimestre. Podés encontrar más información
         sobre las cátedras de cada una de ellas ingresando en las secciones de
         cada materia.
         Una vez que elijas la cátedra, podrás realizar la inscripción en
         la sección correspondiente a esa cátedra.</p>

      <dl>
        <dt>Subject 1</dt>
        <dd>Brief info</dd>
        <dt>Subject 2</dt>
        <dd>Brief info</dd>
      </dl>
    </div>

    <div class="footer">
      <dl>
        <dt>Copyright</dt>
        <dd>&copy; 2016 fi.uba.ar</dd>
        <dt>Authors</dt>
        <dd>German Guzelj and Leandro Masello</dd>
        <dt>Year</dt>
        <dd>2016</dd>
      </dl>
    </div>
   </body>
</html>
