<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
   <html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.w3.org/MarkUp/SCHEMA/xhtml11.xsd"
   xml:lang="en">

   <head>
      <title>Sistema de inscripciones</title>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta name="author" content="German Guzelj, Leandro Masello" />
      <meta name="keywords" content="computer, programming, it, inscriptions" />
      <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css" />
   </head>

   <body>
     <div class="header">
       <h1>Sistema de inscripciones<span class="tagline">FIUBA</span></h1>
     </div>

     <div class="content">
       <p>Bienvenido al sistema de inscripciones de la Facultad de Ingenieria.
         Aqui, usted podra consultar las materias y cursos disponibles, asi como
         tambien se podra inscribir en un curso de una materia. Recuerde que
         solo se podra inscribir en un solo curso por materia.</p>

       <ul>
         <li><a href="../subjects/index.html">Ir al listado de cursos</a></li>
         <li><a href="http://www.fi.uba.ar/">Ir al sitio de la facultad</a></li>
       </ul>
     </div>

     <div class="footer">
       <dl>
         <dt>Copyright</dt>
         <dd>&copy; 2016 fi.uba.ar</dd>
         <dt>Authors</dt>
         <dd>German Guzelj and Leandro Masello</dd>
         <dt>Year</dt>
         <dd>2016</dd>
       </dl>
     </div>
   </body>
</html>
