body {
  font-family: 'Open Sans', Tahoma, sans-serif;
  line-height: 1.4;
  letter-spacing: 0.01em;
  max-width: 60em;
  margin: 0 auto 0 auto;
}

.tagline {
  color: gray;
  font-size: 0.7em;
}

.tagline:before {
  content: " | ";
}

.header {
  padding-top: 0.1em;
  margin-bottom: 2em;
}

.footer{
  color: grey;
  margin-top: 15em;
  padding-bottom: 0.5em;
}

.footer  dt {
  display: inline-block;
  float: left;
  clear: left;
  margin: 0.2em 0;
}

.footer dd {
  display: inline-block;
  float: left;
  margin: 0.2em 0;
  margin-left: .5em;
}

.breadcrumb li {
  font-size: 1.15em;
  display: inline;
  list-style-type: none;
  margin: .2em;
}

.breadcrumb li:not(:last-child):after{
  content: ">";
  color: green;
  margin: .5em;
}
