 <div class="header">
   <ul class="breadcrumb">
     <li><a routerLink="/">Sistema de inscripciones</a></li>
     <li><a routerLink="/subjects">Materias</a></li>
     <li>Cursos</li>
   </ul>
 </div>
 <div class="content">
   <h1>Cátedras</h1>
   <p>A continuación se muestran las cátedras de la materia seleccionada.
     Para inscribirte en una de ellas tenes que ir a la sección de inscripciones.
     Tené en cuenta que no se podrán superar las vacantes de cada curso.</p>

  <dl>
    <dt>Catedra 1</dt>
    <dd>Brief info</dd>
    <dt>Catedra 2</dt>
    <dd>Brief info</dd>
  </dl>
</div>

<div class="footer">
  <dl>
    <dt>Copyright</dt>
    <dd>&copy; 2016 fi.uba.ar</dd>
    <dt>Authors</dt>
    <dd>German Guzelj and Leandro Masello</dd>
    <dt>Year</dt>
    <dd>2016</dd>
  </dl>
</div>
