<div class="header">
  <ul class="breadcrumb">
    <li><a routerLink="/home">Sistema de inscripciones</a></li>
    <li><a routerLink="/subjects">Materias</a></li>
    <li>Cursos</li>
  </ul>
</div>

<div *ngIf="subject">
  <div class="content">
    <h1>{{subject.name}}</h1>
    <p>A continuación se muestran los cursos de {{subject.name}}.
      Esta materia te dara {{subject.credits}} creditos.
      Para inscribirte en un curso tenes que seguir el boton 'inscribirme'.
      Tené en cuenta que si no quedan mas vacantes o si ya te inscribiste a otro curso
      de la materia, no te podras inscribir.</p>


    <ul style="list-style-type:none">
      <li *ngFor="let course of subject.courses">

        <div class="panel panel-primary">
          <div class="panel-heading">{{course.professors}}</div>

          <div class="panel-body">
            <span>{{course.name}}</span>

            <dl>
              <dt>Sede</dt>
              <dd>{{course.headquarters}}</dd>
              <dt>Profesores</dt>
              <dd>{{course.professors}}</dd>
              <dt>Vacantes</dt>
              <dd>{{course.vacancy}}</dd>
              <dt>Horarios</dt>
            </dl>
          </div>

          <dd class="lesson-details">
            <ul>

            </ul>
          </dd>

          <table class ="table">
            <tr>
              <th>Tipo de clase</th>
              <th>Día</th>
              <th>horario</th>
              <th>aula</th>
            </tr>
            <tbody *ngFor="let lesson of course.schedule">
            <tr>
              <td>{{lesson.type}}</td>
              <td>{{lesson.day}}</td>
              <td>{{lesson.from}} a {{lesson.to}}</td>
              <td>{{lesson.classroom}}</td>
            </tr>
            </tbody>
          </table>

          <div class="panel-footer">
            <div class="btn-group-lg" role="group" aria-label="...">
              <button type="button" class="btn btn-default" (click)="enroll(course.id)">Inscribirme</button>
            </div>
          </div>

        </div>
      </li>
    </ul>

  </div></div>

<div class="footer">
  <dl>
    <dt>Copyright</dt>
    <dd>&copy; 2016 fi.uba.ar</dd>
    <dt>Authors</dt>
    <dd>German Guzelj and Leandro Masello</dd>
    <dt>Year</dt>
    <dd>2016</dd>
  </dl>
</div>
