<div class="header">
  <ul class="breadcrumb">
    <li><a routerLink="/home">Sistema de inscripciones</a></li>
    <li><a routerLink="/subjects">Materias</a></li>
    <li>Cursos</li>
  </ul>
</div>
<div *ngIf="subject">
  <div class="content">
    <h1>{{subject.name}}</h1>
    <p>A continuación se muestran los cursos de {{subject.name}}.
      Esta materia te dara {{subject.credits}} creditos.
      Para inscribirte en un curso tenes que seguir el boton 'inscribirme'.
      Tené en cuenta que si no quedan mas vacantes o si ya te inscribiste a otro curso
      de la materia, no te podras inscribir.</p>


    <ul>
      <li *ngFor="let course of subject.courses">
        <span class="badge">{{course.name}}</span>
        <button class="inscription-button" (click)="enroll(course.id)">Inscribirme</button>
        <dl>
          <dt>Sede</dt>
          <dd>{{course.headquarters}}</dd>
          <dt>Profesores</dt>
          <dd>{{course.professors}}</dd>
          <dt>Vacantes</dt>
          <dd>{{course.vacancy}}</dd>
          <dt>Horarios</dt>
          <dd class="lesson-details">
            <ul>
              <li *ngFor="let lesson of course.schedule">
                <dl>
                  <dt>Tipo de clase</dt>
                  <dd>{{lesson.type}}</dd>
                  <dt>Dia</dt>
                  <dd>{{lesson.day}}</dd>
                  <dt>Horario</dt>
                  <dd>{{lesson.from}} a {{lesson.to}}</dd>
                  <dt>Aula</dt>
                  <dd>{{lesson.classroom}}</dd>
                </dl>
              </li>
            </ul>
          </dd>
        </dl>
      </li>
    </ul>
  </div></div>

<div class="footer">
  <dl>
    <dt>Copyright</dt>
    <dd>&copy; 2016 fi.uba.ar</dd>
    <dt>Authors</dt>
    <dd>German Guzelj and Leandro Masello</dd>
    <dt>Year</dt>
    <dd>2016</dd>
  </dl>
</div>
